<a href="https://colab.research.google.com/github/pawel0508/MachineLearningBootcamp_I/blob/master/NaiwnyKlasyfikatorBayesowski.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
import numpy as np 
import sklearn 

np.random.seed(42)
np.set_printoptions(precision = 6, suppress = True)
sklearn.__version__

'0.22.2.post1'

Generowanie danych

In [12]:
pogoda = ['słonecznie', 'deszczowo', 'pochmurno', 'deszczowo', 'słonecznie', 'słonecznie',
          'pochmurno', 'pochmurno', 'słonecznie']
temperatura = ['ciepło', 'zimno', 'ciepło', 'ciepło', 'ciepło', 'umiarkowanie',
               'umiarkowanie', 'ciepło', 'zimno']

spacer = ['tak', 'nie', 'tak', 'nie', 'tak', 'tak', 'nie', 'tak', 'nie']

df_raw = pd.DataFrame({'pogoda' : pogoda, 'temperatura' : temperatura, 'spacer' : spacer})
df = df_raw.copy()

Przygotowanie danych do modelu

In [13]:
from sklearn.preprocessing import LabelEncoder

encoder = LabelEncoder()
df['spacer'] = encoder.fit_transform(df['spacer'])

In [15]:
df = pd.get_dummies(df, columns = ['pogoda', 'temperatura'], drop_first = True)

In [16]:
df

   spacer  pogoda_pochmurno  ...  temperatura_umiarkowanie  temperatura_zimno
0       1                 0  ...                         0                  0
1       0                 0  ...                         0                  1
2       1                 1  ...                         0                  0
3       0                 0  ...                         0                  0
4       1                 0  ...                         0                  0
5       1                 0  ...                         1                  0
6       0                 1  ...                         1                  0
7       1                 1  ...                         0                  0
8       0                 0  ...                         0                  1

[9 rows x 5 columns]

In [17]:
data = df.copy()
target = data.pop('spacer')

In [19]:
print(f'data shape: {data.shape}')
print(f'target shape: {target.shape}')

data shape: (9, 4)
target shape: (9,)

In [20]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()
model.fit(data, target)
model.score(data, target)

0.7777777777777778

In [21]:
data.iloc[0]

pogoda_pochmurno            0
pogoda_słonecznie           1
temperatura_umiarkowanie    0
temperatura_zimno           0
Name: 0, dtype: uint8

In [24]:
model.predict(data.iloc[[0]])

array([1])

In [29]:
encoder.classes_[model.predict(data.iloc[[0]])[0]]

'tak'

In [30]:
model.predict_proba(data.iloc[[0]])

array([[0.000006, 0.999994]])